.container {
    display: grid;
    height: calc(100vh - 30px);
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    grid-template-areas:
        'header header header header'
        'left left right right'
        'footer footer footer footer';
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;

}

.footer {
    grid-area: footer;
}

@media screen and (max-width: 480px) {
    .container {
        display: grid;
        background-color: #2196F3;
        grid-template-areas:
            "header"
            "left"
            "right"
            "footer";
    }
}